<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.appsys.dao.appinfo.AppInfoMapper">
	<resultMap type="AppInfo" id="appinfoList">
		<result property="categoryLevel1Name" column="categoryLevel1Name"/>
		<result property="categoryLevel2Name" column="categoryLevel2Name"/> 
		<result property="categoryLevel3Name" column="categoryLevel3Name"/> 
		<result property="statusName" column="statusName"/>
		<result property="flatformName" column="flatformName"/>
	</resultMap>
	
	<resultMap type="AppInfo" id="appstatusName">
		<result property="statusName" column="statusName"/>
	</resultMap>
	
	<select id="getAppInfoList" resultMap="appinfoList">
		select (select categoryName from app_category cate where cate.id = info.categoryLevel1) as 'categoryLevel1Name',
		(select categoryName from app_category cate where cate.id = info.categoryLevel2) as 'categoryLevel2Name',
		(select categoryName from app_category cate where cate.id = info.categoryLevel3) as 'categoryLevel3Name',
		info.*,
		(select valueName from data_dictionary where typeName = "APP状态" and valueId = info.`status`) AS 'statusName',
		(select valueName from data_dictionary where typeName = "所属平台" and valueId = info.flatformId) AS 'flatformName'
		 from app_info info
		 where 1=1
		 <if test="softwareName!=null">and info.softwareName like "%"#{softwareName}"%"</if>
		 <if test="categoryLevel1!=0">and info.categoryLevel1 = #{categoryLevel1}</if>
		 <if test="categoryLevel2!=0">and info.categoryLevel2 = #{categoryLevel2}</if>
		 <if test="categoryLevel3!=0">and info.categoryLevel3 = #{categoryLevel3}</if>
		 <if test="status!=0">and info.`status` = #{status}</if>
		 <if test="flatformId!=0">and info.flatformId = #{flatformId}</if>
		 limit #{currentPageNo},#{pageSize}
	</select>
	<select id="count" resultType="int">
		select count(1) from app_info
		where 1=1
		 <if test="softwareName!=null">and softwareName like "%"#{softwareName}"%"</if>
		 <if test="categoryLevel1!=0">and categoryLevel1 = #{categoryLevel1}</if>
		 <if test="categoryLevel2!=0">and categoryLevel2 = #{categoryLevel2}</if>
		 <if test="categoryLevel3!=0">and categoryLevel3 = #{categoryLevel3}</if>
		 <if test="status!=0">and `status` = #{status}</if>
		 <if test="flatformId!=0">and flatformId = #{flatformId}</if>
	</select>
	
	<insert id="insAppInfo">
		insert into app_info(softwareName,APKName,supportROM,interfaceLanguage,softwareSize,downloads,flatformId,categoryLevel1,categoryLevel2,categoryLevel3,`status`,appInfo,logoPicPath,logoLocPath,createdBy,creationDate) 
		values(#{softwareName},#{APKName},#{supportROM},#{interfaceLanguage},#{softwareSize},#{downloads},#{flatformId},#{categoryLevel1},#{categoryLevel2},#{categoryLevel3},#{status},#{appInfo},#{logoPicPath},#{logoLocPath},#{createdBy},#{creationDate})   
	</insert>
	
	<select id="APKNameexsit" resultType="AppInfo">
		select * from app_info where APKName = #{APKName}
	</select>
	
	<select id="getAppInfo" resultType="AppInfo">
		select info.*,(select valueName from data_dictionary where typeName = "APP状态" and valueId = info.`status`) AS 'statusName' from app_info info where id = #{id};
	</select>
</mapper>