<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.appsys.dao.backend.user.UserMapper">
	<!-- 查询所有信息 -->
	<select id="getuser" resultType="BackendUser">	
		SELECT a.*,b.typeName as userTypeName FROM backend_user as a,data_dictionary as b 
	    WHERE a.userType=b.id AND a.userCode=#{userCode}
	</select>
	
</mapper>